<div>
    <form name="uWhiteLabelConfigForm" ng-submit="submit(model)" ng-controller="uWhiteLabel.Config.LoginScreenController as vm" val-form-manager>
        <umb-panel>
            <umb-header tabs="content.tabs">
                <div class="umb-headline-editor-wrapper span12 ng-scope">
                    <h1 class="ng-binding">Login Screen Settings</h1>
                </div>
            </umb-header>
            <umb-tab-view>
                <umb-tab id="tab1" rel="intro">
                    <div class="umb-pane">
                        <p>Show your logo and change the greeting text on the Umbraco backoffice login.</p>
                        <umb-pane>
                            <umb-control-group label="Logo Image Url">
                                <input type="text" name="logo" ng-model="vm.logo" />
                            </umb-control-group>
                            <umb-control-group label="Greeting Text">
                                <input type="text" name="greeting" ng-model="vm.greeting" />
                            </umb-control-group>
                        </umb-pane>
                        <div class="btn-toolbar umb-btn-toolbar pull-right">
                            <umb-button action="SaveLogin(vm.logo, vm.greeting)"
                                        type="button"
                                        button-style="success"
                                        state="vm.saveLogoButtonState"
                                        shortcut="ctrl+s"
                                        label="Save"
                                        disabled="vm.saveLogoButtonState === 'busy' || uWhiteLabelConfigForm.logo.$invalid">
                            </umb-button>

                        </div>
                    </div>
                    </umb-tab>
                </umb-tab-view>
        </umb-panel>
    </form>
</div>